* {
border: 0;
margin: 0;
padding: 0;
outline: 0;
list-style: none;
list-style-type:none;
text-decoration: none;
box-sizing: border-box;
font-family: ui-sans-serif, Arial, Helvetica, sans-serif;
}

body {
color: #333;
text-align: left;
background-color: #fff;
}

div.main {
padding: 0 1.5em;
margin-bottom: 3em;
}

p {
padding: 0.6em 0;
line-height: 1.5;
}

h1 {
color: #336699;
line-height: 1.4;
background-color: #fff;
margin: 1.8em 0 1.5em 0;
}

h2 {
color: #666;
line-height: 1.5;
margin: 0.75em 0;
background-color: #fff;
}

details {
border: none;
cursor: pointer;
line-height: 1.5;
}

.url {
margin-top: -0.9em;
margin-bottom: 1.5em;
}

.abstract {
display: block;
line-height: 1.5;
text-align: justify;
}

#en, #es {
display: block;
}

#br {
margin-top: 0.6em;
}

#vs {
margin-top: 1.5em;
}

.title, .language {
color: #336699;
}

.lingua {
color: #666;
}

.split {
display: inline;
}

.break {
display: none;
}

a:link {
color: #c63636;
text-decoration: none;
background-color: #fff;
}

a:hover {
color: #336666;
text-decoration: none;
background-color: #fff;
}

a:active {
color: #336666;
text-decoration: none;
background-color: #fff;
}

a:visited {
color: #c63636;
text-decoration: none;
background-color: #fff;
}

a:visited:hover {
color: #336666;
text-decoration: none;
background-color: #fff;
}

a:link.no-pdf {
color: #999;
text-decoration: none;
background-color: #fff;
}

a.no-pdf {
pointer-events: none;
cursor: default;
}

@media screen and (max-width: 510px) {

div.main {
padding: 0 0.75em;
}

.split {
display: block;
margin-top: 0.09em;
}

.break {
display: inline;
}

}

@media screen and (max-width: 300px) {

div.main {
padding: 0 0.57em;
}

}
